@import './theme.scss';

#root > div > .content {
    padding-top: 3rem;
}

#root > .heroEnabled {
    > .content {
        padding-top: 256px;
        transition: padding $transition-timing;
    }
}
